<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    
<!--     <link rel="stylesheet" href="./semantic/semantic.min.css">
    <link rel="stylesheet" href="./semantic/item.css">

    <link rel="stylesheet" href="./semantic/menu.css">
    <link rel="stylesheet" href="./semantic/grid.css">
    <link rel="stylesheet" href="./semantic/segment.css">

    <link rel="stylesheet" href="./semantic/tab.min.css">
    <link rel="stylesheet" href="./semantic/icon.css"> -->

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="bootstrap/jquery-3.0.0.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="addCatalog.js"></script>
    <!-- <script src="semantic/semantic.min.js"></script> -->
    <!-- <script src="semantic/tab.min.js"></script> -->
    <script src="script.js"></script>

</head>
<body>
    <nav class="navbar " role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Email Template</a>
            </div>
            <ul class="nav nav-pills" id="catalogs">
                <li class="active">
                    <a href="#">Catalog1</a>
                </li>
                <li>
                    <a href="#">Catalog2</a>
                </li>
                <li class="dropdown" id="editCatalog">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Edit <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a  data-toggle="modal" href="#addCatalog" class="btn">Add Catalog</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a data-toggle="modal" href="#deleteCatalog" class="btn">Detele Catalog</a>
                        </li>
                    </ul>
                </li>
                <li class="nav navbar-right nav-pills" id="createTemplate">
                    <button type="button" class="btn btn-primary" id="addtemplate" data-toggle="modal" data-target="#Create" >Create Template</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="col-md-3">

                <div id="mainlist">
                    <div class="input-group">
                        <input type="text" class ="form-control" id="add_templatebox" name="Item" placeholder="template name">
                        <span class="input-group-addon">.vm</span>
                        <div class="input-group-btn">
                            <button  type="submit" class="btn btn-primary file_add_button">ADD</button>
                        </div>
                    </div>

                    <!-- <form>
                    <ol class="list-group list_of_items"></ol>

                </form>
                -->
            </div>

            <div class="module">
                <ul class="list-group" id="listTemplate">

                    <li class="list-group-item" >
                        <span class="badge" role="button" >
                            <span class="glyphicon glyphicon-pencil" ></span>
                        </span>
                        <span class="badge" role="button" id="3">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <a href="#" id="Crasjustoodio">Crasjustoodio</a>
                    </li>
                    <li class="list-group-item" >
                       <div class="input-group">
                            <input type="text" class ="form-control" id="add_templatebox" name="Item" placeholder="template name">
                            <span class="input-group-addon">.vm</span>
                        </div>
                    </li>

                </ul>

            </div>

        </div>
        <div class="col-md-9">
            <ol class="breadcrumb" id="templatefileNav">
                <li class="active">Catalog1</li>
                <li class="active">Data</li>
            </ol>
            <ul class="list-unstyled posts">
     
            </ul>

        </div>
    </div>

</div>

<div class="modal fade" id="Create" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">在这里添加一些文本</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div>
        <!-- /.modal-content --> </div>
    <!-- /.modal -->
</div>

<div class="modal fade bs-example-modal-sm" id="addCatalog" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add a Catalog</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="catalog-name"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
               data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addCatalogBtn">Add</button>
            </div>
        </div>
        <!-- /.modal-content --> </div>
    <!-- /.modal -->
</div>

<div class="modal fade bs-example-modal-sm" id="deleteCatalog" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">choose to delete</h4>
            </div>
            <div class="modal-body" id="existsCatalog">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
               data-dismiss="modal">Cancel</button>
                <button type="button " class="btn btn-danger ">Delete</button>
            </div>
        </div>
        <!-- /.modal-content --> </div>
    <!-- /.modal -->
</div>
<script type="text/javascript">
    $('.menu .item')
  .tab()
;
</script>
</body>
</html>